@media screen and (min-width: 1440px) {
    .container {
            max-width: 1440px;
        }
    /* Header */
    .nav-menu {
        display: flex;
        gap: 40px;
    }
    .header-menu-btn {
        display: none;
    }


    .contact .list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    /* Hero */
    .hero {
        padding: 188px 0;
    }
    .hero-title {
        max-width: 496px;
        margin: 0 auto 48px;
        font-size: 56px;
        line-height: 1.07;
    }
    .benefits {
        padding: 120px 0;
    }
    .benefits-title {
        font-size: 20px;
        line-height: 1.2;
    }
}