@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
    /* Header */
    .nav-menu {
        display: flex;
        gap: 40px;
    }
    .header-menu-btn {
        display: none;
    }


    .contact .list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .contact-link {
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
    }
    /* Hero */
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_desktop.jpg);
    }
    @media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office_desktop@2x.jpg);
        }
    }
    .hero-title {
        max-width: 496px;
        margin: 0 auto 48px;
        font-size: 56px;
        line-height: 1.07;
    }
    /* Benefits */
    .benefits {
        padding: 120px 0;
    }
    .benefits .list {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
    .benefits-item {
        width: calc((100% - 72px) / 4);
    }
    .benefits-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
    
        border-radius: 4px;
        background-color: var(--light-color);
        margin-bottom: 8px;
    }
    .benefits-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        }
    .benefits-text {
        font-weight: 400;
    }
    /* Product */
    .product {
        display: block;
        padding-bottom: 120px;
    }
    
    .product-title {
        margin-bottom: 72px;
    
        font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--dark-color);
        line-height: 1.11;
        text-transform: capitalize;
    }
    
    .product .list {
        display: flex;
        /* gap: 24px; */
    }
    .product .list:not(:last-child) {
        gap: 24px;
    }
    
    .product-item {
        width: calc((100% - 3 * 16px) / 3);
    }
    
    .product-img {
        /* display: block;
        width: 100%;
        max-width: 100%;
        background-color: var(--accent-color); */
    }
    /* Team */
    .team {
        padding: 120px 0;
    
        background-color: var(--light-color);
    }
    .team .list {
        display: flex;
        align-items: center;
        gap: 24px;
    }
    .team-item {
        flex-basis: calc((100% - 72px) / 4);
    }
        /* Customers */
    .customers {
        padding: 120px 0;
    }
    .customers .list {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    .customer-item {
        width: calc((100% - 120px) / 6);
        height: 88px;
    }
    /* Footer */
    .footer {
        padding: 100px 0;
    }
    .footer-wrapper {
        display: flex;
        align-items: baseline;
        padding-left: 0;
        justify-content: space-between;
        flex-direction: row;
        gap: 0;
    }
    .footer-logo-wrapper {
        margin-right: 120px;
    }
    .footer-logo {
        display: inline-block;
        margin-bottom: 16px;
    
        font-family: "Raleway", sans-serif;
        color: var(--primary-color);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
    }
    .footer-social-text {
        align-items: baseline;
    }
    .footer-text {
        max-width: 264px;
    }
    .footer-social {
        margin-right: 80px;
    }

    /* Subscribe */
    .subscribe-form-wrapper {
        max-width: 465px;
    }
    .footer-subscribe-form {
        display: flex;
        gap: 24px;
    }
    .subscribe-input {
        width: 264px;
        opacity: 1;
    }

    /* Portfolio */
    .main-front {
        padding-top: 96px;
        padding-bottom: 120px;
    }

    .interactive-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }
    .interactive-btn {
        padding: 12px 24px;
    }
    .media-item {
        width: calc((100% - 3 * 16px) / 3);
    }
}