 /* header */









/* hero styles */





/* benefits */







/* features styles */


/* team styles */








/* customers styles */






/* footer styles*/













/* subscribe input styles */










/* portfolio-header */
.contact-link:focus{
    color: var(--pressed-color);
}

/* portfolio-interactive section */
.main-front {
    padding-top: 96px;
    padding-bottom: 120px;
}

.interactive-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}
.interactive-item {
}
.interactive-btn {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;

    font-family: var(--font-main);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--light-color);
    cursor: pointer;
}
.interactive-btn:hover,
.interactive-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    border: 1px solid transparent;

    color: var(--whitebck-color);
    background-color: var(--pressed-color);
}

/* portfolio-multimedia section */
.media-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.media-item {
    width: calc((100% - 3 * 16px) / 3);
}
.media-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--herobck-color);
}
.media-link:hover .media-container-text,
.media-link:focus .media-container-text {
    transform: translateY(0%);
}
.media-link:hover,
.media-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    color: var(--pressed-color);
}
.media-img-container {
    position: relative;
    overflow: hidden;
}
.media-container-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    padding: 40px 32px;
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-wrapper {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}
.media-img {
    display: block;
}
.media-subtitle{
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.media-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* modal styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    padding-top: 72px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;

    background: var(--modalbck-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 427.99px) {
    .modal {
        width: calc(100% - 20px);
    }
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
    background-color: var(--pressed-color);
    border: none;
    fill: #ffffff;
}

.modal-btn {
    top: 8px;
    left: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: #ffffff;
} 

/* order form */
.modal-caption {
    max-width: 360px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--herobck-color);

    margin-bottom: 16px;
}
.modal-form {
}

.modal-row {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--subtle-color);
}

.modal-field {
    position: relative;
    /* margin-bottom: 8px; */
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 8px 38px;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    background-color: transparent;
    
    font-size: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
    border-color: var(--primary-color);
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    fill: var(--herobck-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon {
    fill: var(--primary-color);
}
.modal-comment {
    margin-bottom: 16px;
}

.modal-comment-field {
    display: block;
    width: 100%;
    height: 120px;
    padding: 8px 16px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;

    color: rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    outline: transparent;
    background-color: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-field:focus {
    border-color: var(--primary-color);
}
.modal-comment-field::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.modal-privacy {
    display: flex;
    align-items: center;

    margin-bottom: 24px;
   
    /* font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--subtle-color); */
}
.modal-agreement-input {}

.modal-agreement {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-color);
}

.modal-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    margin-right: 8px;

    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-agreement-input:checked + .modal-agreement > .modal-checkbox {
    background-color: var(--pressed-color);
    border: none;
    fill: var(--light-color);
    /* border-color: var(--pressed-color); */
}
.modal-checkbox-icon {
    opacity: 0;
}
.modal-agreement-input:checked+.modal-agreement>.modal-checkbox>.modal-checkbox-icon {
    opacity: 1;
    fill: #fff;
}
.modal-agreement-link {
    color: var(--primary-color);
    text-decoration-line: underline;
    margin-left: 4px;
}
